* {
	margin: 0px;
	padding: 0px;
}
body {
	text-align: center;
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	background-image:url("../img/image\ bg.webp");
	background-color: #171717;
	font-size: 16px;
	line-height: 1.5em;
}

